
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">
        <h1><a href="@Url.Action("Index", "Home")" class="logo">Movie Catalog</a></h1>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link active" asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a class="nav-link" asp-controller="Home" asp-action="Privacy">Privacy</a></li>
                <li><a class="nav-link" asp-controller="Movie" asp-action="Movies">Movies</a></li>
                <li><a class="nav-link" href="#contact">Contact</a></li>
                <li><a class="getstarted" href="#about">Get Started</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
    </div>
</header>
