@using CommonModels;
@model IEnumerable<MovieModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="hero" class="d-flex">
    <div class="container">
        @foreach (MovieModel item in Model)
                {
                    ViewData["Title"] = item?.OriginalName;
                    <div class="card mb-3" style="max-width: 550px; margin: auto; background-color: lavender">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img class="img-fluid rounded-start" src="@item?.CoverImage?.Path" alt="@item?.OriginalName"/>
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h4 class="card-title">@item?.OriginalName</h4>
                                        <h5 class="card-text text-muted"><i>@item?.NameRu</i></h5>
                                        <h6 class="card-text">Release Date: <span>@item?.ReleaseDate</span></h6>
                                        <h6 class="card-text">Country: <span>@item?.Country</span></h6>
                                        <h6 class="card-text">Quality: <span>@item?.Quality</span></h6>
                                        <h6 class="card-text">Genres:
                                            @foreach (string i in item?.Genres)
                                            {
                                                @Html.Raw(i + ", ");
                                            }
                                        </h6>
                                        <h6 class="card-text">Duration: <span>@item?.Duration</span></h6>
                                    </div>
                                </div>
                            </div>
                        </div>

            <div class="col-12 col-md-8 offset-md-4 col-lg-8 offset-lg-3">
                <div class="mt-4 mb-4">
                            <iframe title="Movie" src="@item?.Link#player" class="responsive-iframe" scrolling="no"></iframe>
                        </div>
                    </div>
                }
    </div>

</section>




